
<% selected_mods = SelectedModifier.all.select{ |t| t.cart_item_id == @cart_item.id }%>
<%= @cart_item.id %>
<div id="selected_modifiers">
<% selected_mods.each do |selected_modifier| %>
	<%= selected_modifier.id %><br>
<% end %>
</div>