.containerTwo {
  padding-right: 30px;
  padding-left: 30px;
}

.sandstone {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.navbar .nav > li > a {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.navbar-brand {
  line-height: 23px;
}

.btn {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-transform: none;
}

.nav {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.breadcrumb {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.pagination {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.pager {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.dropdown-menu > li > a {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.tooltip {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.panel .panel-heading,
.panel .panel-title {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-transform: none;
}

.panel .panel-footer {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-transform: none;
}

.page-header {
  border-bottom: none;
}