.containerTwo {
  padding-right: 30px;
  padding-left: 30px;
}

.sandstone {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.navbar .nav > li > a {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.navbar-brand {
  line-height: 23px;
}


.btn {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-transform: none;
}


.btn-alt {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: none;
}

.nav {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.breadcrumb {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.pagination {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.pager {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.dropdown-menu > li > a {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}

.tooltip {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.panel .panel-heading,
.panel .panel-title {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-transform: none;
}

.panel .panel-footer {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-transform: none;
}

.page-header {
  border-bottom: none;
margin: 40px 0 0;
}

.equal, .equal > div[class*='col-'] {  
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.add-button {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.modified_row {
  border-top: 0px;
}

button:focus {outline:0 !important;}


.btn-link-alt {
  font-size: 16px;
  color: #000000;
  font-weight: normal;
  border-radius: 0;
}
.btn-link-alt,
.btn-link-alt:active,
.btn-link-alt.active,
.btn-link-alt[disabled],
fieldset[disabled] .btn-link-alt {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link-alt,
.btn-link-alt:hover,
.btn-link-alt:focus,
.btn-link-alt:active {
  border-color: transparent;
}
.btn-link-alt:hover,
.btn-link-alt:focus {
  color: #00000;
  background-color: transparent;
}
.btn-link-alt[disabled]:hover,
fieldset[disabled] .btn-link-alt:hover,
.btn-link-alt[disabled]:focus,
fieldset[disabled] .btn-link-alt:focus {
  color: #000000;
  text-decoration: none;
}




.responsive-tabs.nav-tabs {
  position: relative;
  z-index: 10;
  height: 38px;
  overflow: visible;
  border-bottom: none;
}
@media (min-width: 768px) {
  .responsive-tabs.nav-tabs {
    border-bottom: 1px solid #ddd;
  }
}
.responsive-tabs.nav-tabs i.fa {
  position: absolute;
  top: 14px;
  right: 22px;
}
.responsive-tabs.nav-tabs i.fa.fa-caret-up {
  display: none;
}
@media (min-width: 768px) {
  .responsive-tabs.nav-tabs i.fa {
    display: none;
  }
}
.responsive-tabs.nav-tabs > li {
  display: none;
  float: none;
  text-align: center;
}
.responsive-tabs.nav-tabs > li:last-of-type > a {
  margin-right: 0;
}
.responsive-tabs.nav-tabs > li > a {
  margin-right: 0;
  background: #fff;
  border: 1px solid #DDDDDD;
}
@media (min-width: 768px) {
  .responsive-tabs.nav-tabs > li > a {
    margin-right: 4px;
    margin-top:-1px;
  }
}
.responsive-tabs.nav-tabs > li.active {
  display: block;
}
.responsive-tabs.nav-tabs > li.active a {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .responsive-tabs.nav-tabs > li.active a {
    border-bottom-color: transparent;
  }
}
@media (min-width: 768px) {
  .responsive-tabs.nav-tabs > li {
    display: block;
    float: left;
  }
}
.responsive-tabs.nav-tabs.open i.fa.fa-caret-up {
  display: block;
}
@media (min-width: 768px) {
  .responsive-tabs.nav-tabs.open i.fa.fa-caret-up {
    display: none;
  }
}
.responsive-tabs.nav-tabs.open i.fa.fa-caret-down {
  display: none;
}
.responsive-tabs.nav-tabs.open > li {
  display: block;
}
.responsive-tabs.nav-tabs.open > li a {
  border-radius: 0;
}
.responsive-tabs.nav-tabs.open > li:first-of-type a {
  border-radius: 2px 2px 0 0;
}
.responsive-tabs.nav-tabs.open > li:last-of-type a {
  border-radius: 0 0 2px 2px;
}

